@model List<AnsibleSolution.Models.MyEntity>

<h2>All Entities</h2>

<table class="table table-condensed">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Details</th>
    </tr>
    @foreach (var entity in Model)
    {
    <tr>
        <td>@entity.MyEntityId</td>
        <td>@entity.Name</td>
        <td>@Html.ActionLink("More...", "Id", "MyEntity", new { id = entity.MyEntityId })</td>
    </tr>
    }
</table>

