<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
            <ul>
                <li><a>Home</a></li>
                <li><a>All Entities</a></li>
                <li><a>Create Entities</a></li>
            </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>Luis Del Valle. <a href="mailto:luis@luis-delvalle.com">Contact</a></p>
    </footer>
</body>
</html>
